* *,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.timer {
  color: blueviolet;
  display: inline-flexbox;
  font-size: 100px;
  align-self: last baseline;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.container {
  font-size: 30px;
  object-fit: contain;
  max-width: fit-content;
  max-height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  box-sizing: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: large;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 2.25 rem;
  font-size: bold;
  padding: 0px 10px;
  display: flex;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.hide {
  display: none;
}

.resultBox {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  top: 100px;
  left: 100px;
  object-fit: contain;
  font-size: 30px;
  padding: 40px;
  box-shadow: 0 0 10px 2px;
  box-sizing: 20px;
  position: fixed;
}